.container {
  display: flex;
  justify-content: center;
}

.loading,
.error {
  text-align: center;
  padding: 8px;
  border: 2px solid skyblue;
  width: 50vw;
  margin: 20px auto;
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 0px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0px;
    flex-wrap: wrap;
  }
}
